<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>M. Elliot Frost, Developer, Entpreneur and Engineer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href='css/sweetalert.css' type='text/css' rel='stylesheet' />
  <link rel='icon' type='image/png' href='img/face.png' />
</head>
<body ng-controller='HomeCtrl as ctrl'>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">M. Elliot Frost</a>
      <ul class="right hide-on-med-and-down">
        <li><a href=index.html'>Home</a></li>
        <li><a href='election.html'>Election</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href=/''>Home</a></li>
        <li><a href='election.html'></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <h1>Election</h1>
  <footer class="page-footer teal">
    <div class="container">
      <div class="row scrollspy" id='contact'>
        <div class="col l6 s12">
          <h5 class="white-text">Contact</h5>
          <p class="grey-text text-lighten-4">
            Use the form below, or any of my social media/development accounts to contact me.
          </p>
          <form class='col s12' ng-submit='ctrl.sendEmail()'>
            <div class='row'>
              <div class='input-field col s6'>
                <input placeholder='First Name' id='first_name' type='text' class='validate white-text' ng-model='ctrl.email.first'>
                <label for='first_name'>First Name</label>
              </div>
              <div class='input-field col s6'>
                <input placeholder='Last Name' id='last_name' type='text' class='validate white-text' ng-model='ctrl.email.last'>
                <label for='last_name'>Last Name</label>
              </div>
            </div>
            <div class='row'>
              <div class='input-field col s12'>
                <input placeholder='Email' id='email' type='email' class='validate white-text' ng-model='ctrl.email.email'>
                <label for='email'>Email</label>
              </div>
            </div>
            <div class='row'>
              <div class='input-field col s12'>
                <textarea placeholder='Message' class='materialize-textarea white-text' id='message' class='validate' ng-model='ctrl.email.message'>
                </textarea>
                <label for='message'>Message</label>
              </div>
            </div>
            <div class='row'>
              <div class='col s12'>
                <button class='btn waves-effect waves-light cyan lighten-2' type='submit' name='action'>Send <i class='material-icons right'>send</i>
              </div>
            </div>
          </form>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Social Media</h5>
          <ul>
            <li>
              <a class="white-text" href="https://twitter.com/melliotfrost">
                Twitter
              </a>
            </li>
            <li>
              <a class="white-text" href="https://www.linkedin.com/in/melliotfrost">
                Linkedin
              </a>
            </li>
            <li>
              <a class="white-text" href="https://www.facebook.com/m.elliot.frost">
                Facebook
              </a>
            </li>
          </ul>
        </div>
        <div class='col l3 s12'>
          <h5 class='white-text'>Development</h5>
          <ul>
            <li>
              <a class="white-text" href='https://github.com/frostme'>
                Github
              </a>
            </li>
            <li>
              <a class='white-text' href='https://www.npmjs.com/~frostme'>
                NPM
              </a>
            </li>
            <li>
              <a class='white-text' href='https://rubygems.org/profiles/frostme'>
                Rubygems
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src='js/angular.min.js'></script>
  <script src='js/sweetalert.min.js'></script>
  <script src="js/init.js"></script>
  <script src='js/app.js'></script>

  </body>
</html>
